html
    head
        title Megapixel
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/files/page.css" rel="stylesheet" type="text/css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript")
        script(src="/files/page.js" type="text/javascript")
    body
        div(id="optimise")
            div(id="header")
                h3(id="megapixel") Megapixel
            -var str="";
            -add.forEach((val,num)=>{
                -if(num==0)
                    -str+="add="+val;
                -else
                    -str+="&add="+val;
            -})
            -if(mode!="3")
                div(id="container")
                    div(class="table")
                        table(class="tcontent")
                            tr(class="row" id="theader") 
                                th Name
                                th Size
                                th  Download Link
                            -var i="0";
                            -files.forEach((val,num)=>{
                                -i=String(Number(i)+1);
                                tr(class="row" id=i)
                                    td
                                        -if(val.type=="folder")
                                            a(href="/megapixel/?"+str+"&add="+val.name+"&mode=1") #{val.name}
                                        -else
                                            a(href="/megapixel/?"+str+"&add="+val.name+"&mode=1" class="file-list") #{val.name}
                                    td
                                        div #{val.fsize}
                                    td 
                                        a(href="/download/?"+str+"&add="+val.name) Download
                            -})
            -else
                div(class="mode-selector")
                    div(class="image-thumbnail-div")
                        a(href="/megapixel/?"+str+"&mode=1")
                            img(src="/images/mode1.png" id="file-icon")
                        p Table mode(fast)
                    div(class="image-thumbnail-div")
                        a(href="/megapixel/?"+str+"&mode=2")
                            img(src="/images/mode2.png" id="file-icon")
                        p Picture mode(little slow)
        div(id="file-view")
            div
                img(src="/images/close.png" id="close")
            div(class="view-table")
                div(id="left")
                    img(src="/images/arrowl.png" class="nav")
                div(id="file")
                div(id="right")
                    img(src="/images/arrowr.png" class="nav")